@import "const.scss";
body {
    .container-about {
        background-color: #f7f8fd;
        display: flex;
        flex-flow: row;
        .aboutMe {
            .col-img {
                padding-left: 0;
                
                img {
                    width: 100%;
                }
            }
            .about-data {
                .about-me-data {
                    .about-title {
                        color: #85a6c7;
                        margin-top: 20px;
                        font-family: cursive, Arial, Helvetica, sans-serif;
                    }
                }
                .project-description {
                    .description-title {
                        color: #85a6c7;
                        margin-top: 20px;
                        font-family: cursive, Arial, Helvetica, sans-serif;
                    }
                }
            }
        }
    }
}