@import "const.scss";
body {
    .container-about {
        background-color:$aboutBackgroundColor;
        display: flex;
        flex-flow: row;
        border-radius: $borderRadius;
        .aboutMe {
            .col-img {
                padding-left: 0;
                
                img {
                    width: 100%;
                }
            }
            .about-data {
                .about-me-data {
                    .about-title {
                        @extend .aboutTitleFlag; 
                    }
                }
                .project-description {
                    .description-title {
                        @extend .aboutTitleFlag; 
                    }
                }
            }
        }
    }
}