$colorNav: #999;
$colorIcon: #459636;
$aboutBackgroundColor: #f7f8fd;

$margin20: 20px;
$margin5: 5px;
$borderRadius: 5px;

$titleFontFamily: cursive, Arial, Helvetica, sans-serif;

.aboutTitleFlag {
    color: #85a6c7;
    margin-top: 20px;
    font-family: $titleFontFamily;
}