@import "const.scss";
@import "toggle.scss";
body {
    .container {
        .pageIconRow {
            border-bottom: 1px solid $colorIcon;
            .pageIcon {
                font-size: 40px;
                font-family: cursive, Arial, Helvetica, sans-serif;
                color: $colorIcon;
            }
            #cryptoniteLogo {
                width: 80px;
                height: 80px;
                margin-left: 880px;
            }
        }
        .app-header {
            margin-top: $margin20;
            a {
                color: $colorNav;
                margin-right: $margin20;
                cursor: pointer;
            }
            @media only screen and (max-width: 575px) {
                text-align: center;
            }
        }
    }
    .card-list {
        display: flex;
        flex-wrap: wrap;
        margin-top: $margin20;
        @extend .toggleFlag;
        .card {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            width: 280px;
            margin-right: $margin20;
            margin-bottom: $margin20;
            .card-body {
                width: 70%;
                .collapse {
                    margin-top: 10px;
                    width: 200px;
                }
            }
            .toggle-card {
                width: 30%;
                text-align: center;
                margin-top: $margin20;
            }
        }
        @media only screen and (max-width: 575px) {
            flex-direction: column; // text-align: center;
            margin: 20px auto;
        }
    }
    .progress {
        display: none;
    }
    .modal-body {
        @extend .toggleFlag;

        .line-item {
            display: flex;
            flex-wrap: wrap;
            flex-flow: row;
            justify-content: space-between;
        }
    }
}