.aboutTitleFlag {
  color: #85a6c7;
  margin-top: 20px;
  font-family: cursive, Arial, Helvetica, sans-serif;
}

.toggleFlag, body .container-page, body .modal-body {
  /* Hide default HTML checkbox */
  /* The slider */
  /* Rounded sliders */
}

.toggleFlag .switch, body .container-page .switch, body .modal-body .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.toggleFlag .switch input, body .container-page .switch input, body .modal-body .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggleFlag .slider, body .container-page .slider, body .modal-body .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.toggleFlag .slider:before, body .container-page .slider:before, body .modal-body .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.toggleFlag input:checked + .slider, body .container-page input:checked + .slider, body .modal-body input:checked + .slider {
  background-color: #2196F3;
}

.toggleFlag input:focus + .slider, body .container-page input:focus + .slider, body .modal-body input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #2196F3;
          box-shadow: 0 0 1px #2196F3;
}

.toggleFlag input:checked + .slider:before, body .container-page input:checked + .slider:before, body .modal-body input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  transform: translateX(26px);
}

.toggleFlag .slider.round, body .container-page .slider.round, body .modal-body .slider.round {
  border-radius: 34px;
}

.toggleFlag .slider.round:before, body .container-page .slider.round:before, body .modal-body .slider.round:before {
  border-radius: 50%;
}

body .container .header-img {
  background-image: url("./img/background3.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 350px;
  position: absolute;
  right: 0;
  left: 0;
  text-align: center;
}

body .container .header-img .header-title {
  font-family: cursive, Arial, Helvetica, sans-serif;
  font-size: 100px;
  margin-top: 80px;
}

@media only screen and (max-width: 575px) {
  body .container .header-img .header-title {
    font-size: 50px;
    margin-top: 60px;
  }
}

@media only screen and (max-width: 575px) {
  body .container .header-img {
    height: 200px;
  }
}

body .container .pageIconRow .pageIcon {
  font-size: 40px;
  font-family: cursive, Arial, Helvetica, sans-serif;
  color: #459636;
}

body .container .pageIconRow #cryptoniteLogo {
  width: 50px;
  height: 50px;
  margin-top: 5px;
  margin-right: 5px;
}

@media only screen and (max-width: 575px) {
  body .container .pageIconRow {
    margin-left: 5px;
  }
}

body .container .app-header {
  margin-top: 20px;
  margin-bottom: 10px;
}

body .container .app-header .nav {
  display: inline-block;
  color: #999;
  margin-right: 20px;
  cursor: pointer;
}

@media only screen and (max-width: 575px) {
  body .container .app-header {
    text-align: center;
    width: 300px;
  }
}

body .container-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 370px;
}

@media only screen and (max-width: 575px) {
  body .container-page {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 250px;
  }
}

body .container-page .card-container .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 265px;
  margin-right: 20px;
  margin-bottom: 20px;
}

@media only screen and (max-width: 575px) {
  body .container-page .card-container .card {
    width: auto;
    margin-left: 20px;
  }
}

body .container-page .card-container .card .card-body {
  width: 70%;
}

body .container-page .card-container .card .card-body .card-title,
body .container-page .card-container .card .card-body .card-subtitle {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

body .container-page .card-container .card .card-body .collapse {
  margin-top: 10px;
  width: 200px;
}

body .container-page .card-container .card .card-body .collapse .more-info-collapse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
}

body .container-page .card-container .card .card-body .collapse .more-info-collapse img {
  height: 50px;
  margin-right: 20px;
}

body .container-page .card-container .card .toggle-card {
  width: 30%;
  text-align: center;
  margin-top: 20px;
}

body .progress {
  display: none;
}

body .modal-body .line-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
/*# sourceMappingURL=style.css.map */