@import "const.scss";
@import "toggle.scss";
body {
    .container {
        .app-header {
            margin-top: $margin20;
            a {
                color: $colorNav;
                margin-right: $margin20;
            }
        }
        .card-list {
            margin-top: $margin20;
          @extend .toggleFlag;
          .card{
              display: flex;
              flex-wrap: wrap;
              flex-direction: row;
              width: 280px;
              .card-body{
                  width: 70%;
              }
              .toggle-card{
                  width: 30%;
                  text-align: center;
                  margin-top: $margin20;
              }
          }
        }
    }
}